/* === GLOBAL RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212; /* dark grey background */
  color: #E0E0E0;
  line-height: 1.6;
  overflow-x: hidden;
}

/* === NAVBAR === */
nav {
  background-color: #1E1E1E;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #D32F2F;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav h1 {
  color: #FFC107;
  font-size: 1.6
